body {
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
    font-weight: bold;
    background-color: #5f7e3a; 
    background-image: linear-gradient(to bottom,  #886546, #af8159);
    background-attachment: fixed; 
    text-align: center;
}

img {
    height: 500px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

p {
    max-width: 800px;
    margin: 20px auto;
}
